<%= render "shared/menu" %>
<div class="span9">
  <div class="page-header">
    <h1>Menu</h1>
  </div>
  <div class="hero-unit">
    <h1>Bienvenue dans votre restaurant YooFood&copy;</h1>
    <p>Pour passer commande veuillez selectionner des plats dans les diverses cat&eacute;gories (&agrave; gauche). <br/>Cliquez sur "Commander" pour ajouter un article &agrave; la note. A tout moment vous pouvez &eacute;diter la note en cliquant sur "Note" (en haut &agrave; droite). <br />Pour pr&eacute;venir le serveur appuyez sur "Passer commande" dans le r&eacute;capitulatif de la note.</p>
  </div>
</div>